.list {
  padding: 10px 4px;
  border: 1px solid rgba(250, 190, 88, 1);
  background-color: rgba(253, 227, 167, 1);
  color: #897d2e;
  font-weight: bold;
  margin-bottom: 6px;
  border-radius: 4px;
}